#dashboard-view {

}

#dashboard-user {

}

#dashboard-hero {
  width: 1010px;
  margin: auto;
  height: 1000px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}