#dashboard-view {

}

#dashboard-user {

}

#dashboard-hero {
  width: 1010px;
  margin: auto;
  height: 300px;
  background-color: #2b87d1;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}