#home-hero {
  width: 100%;
  height: 500px;
  background-color: #2b87d1;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-icon {
  margin-bottom: 2rem;
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(132deg) brightness(99%) contrast(103%);
}

.hero-title {
  font-size: 5rem;
}

#home-start-btn {
  padding: 1rem 2rem;
  background-color: rgb(255, 209, 84);
  margin-top: 1rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.125rem;
}

#home-start-btn:hover {
  background-color: white;
}