#home-hero-red, #home-hero-green {
  width: 100%;
  height: 500px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home-hero-red {
  background-color: lightcoral;
}

#home-hero-green {
  background-color: lightseagreen;
  cursor: pointer;
}

#reaction-save-btn {
  padding: 1rem 2.5rem;
  background-color: rgb(255, 209, 84);
  margin-top: 1rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.125rem;
  margin: .5rem;
}

#reaction-save-btn:hover {
  /* background-color: rgb(254, 209, 85); */
  background-color: white;
}

#reaction-start-btn {
  padding: 1rem 2.5rem;
  background-color: rgb(255, 209, 84);
  margin-top: 1rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.125rem;
}

#reaction-start-btn:hover {
  /* background-color: rgb(254, 209, 85); */
  background-color: white;
}

#misclicks {
  padding-top: 1rem;
  text-align: center;
}

#event-end-info {
  text-align: center;
}

.reaction-desc {
  padding: 2rem 1rem;
  background-color: white;
  max-width: 1010px;
  margin: auto;
}

.reaction-desc > h2 {
  margin-bottom: 1rem;
}

.reaction-desc > p {
  font-size: 1.125rem;
}