#verb-hero {
  width: 100%;
  height: 500px;
  background-color: #2b87d1;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#verb-hero > h4 {
  padding: 1rem 1rem;
}

#verb-play-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

#verb-play-btns > * {
  margin: 0rem 1rem;
}

#verb-game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  color: white;
  opacity: 50%;
}

#verb-game-lives {
  margin-right: 1rem;
}

#very-game-score {
  margin-left: 1rem;
}

.verb-desc {
  padding: 2rem 1rem;
  background-color: white;
  max-width: 1010px;
  margin: auto;
}

.verb-desc > h2 {
  margin-bottom: 1rem;
}

.verb-desc > p {
  font-size: 1.125rem;
}