/* Navbar */
header {
  /* force to stay on top of page and on the top layer */
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: rgb(254, 255, 255);


	width: 100%;
	min-height: 6vh;
	border: 1px solid blue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1010px;
  margin: auto;
}

.site-nav {
	display: flex;
	align-items: center;
	min-height: 6vh;
}

#site-logo, #site-dashboard {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	height: 6vh;
	font-size: 1.125rem;
  padding: 0rem .5rem;
}

#site-logo > img {
  margin-right: .5rem;
}

.account-nav > a {
	padding-left: .5rem;
}
